

@font-face {
  font-family: 'Gotham';
  src: url(./GothamPro.ttf) format('truetype');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Dela';
  src: url(./DelaGothicOne-Regular.ttf) format('truetype');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'GothaRegular';
  src: url(./Gotham.ttf) format('truetype');
  font-weight: normal;
  font-display: swap;
}

