
:root.theme-light {
  --text-color: #ffffff;
  --bg-image: url('../images/cover-image-dark.png'); 
}


  
@media (prefers-color-scheme: light) {
  :root {
  --text-color: #ffffff;
  --bg-image: url('../images/cover-image-dark.png'); 
  }
}


