
:root.theme-light {
  --text-color: #000000;
  --bg-image: url('../images/cover-image-light.png');
}


  
@media (prefers-color-scheme: light) {
  :root {
    --text-color: #000000;
  --bg-image: url('../images/cover-image-light.png');
  }
}

