.page { 
  background-image: var(--bg-image);
  background-size: cover;
  padding: 0px 86px;
}

.header {
  align-items: center;
  color:var(--text-color);

}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-family: 'Gotham';
  text-decoration: none;
  color:white;
}

.header__theme-menu-button:hover {
  color: #A7D6FF;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding:23px 56px;
  border-radius: 54px;
  background-color: #000000;
  margin-top: 27px;
  margin-bottom: 83px;
  gap: 30px;
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  
}

.header__about {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 83px;
}

.header__img {
  display: flex;
  gap: 24px;
}



.logo {
  width: 80px;
  height: 50px;
}

.tumbler_img {
  width: 140px;
  height: 44px;
}

h1 {
  font-size: 53px;
  font-family: 'Dela';
}

.uniq {
  font-size: 52px;
  font-family: 'Gotham';
}

.header__about__p {
  font-size: 35px;
  font-family: 'Gotham';
  margin-bottom: 51px;
}

section {

}

h2 {
  font-size: 48px;
  font-family: 'Dela';
}

p {
  font-size: 30px;
  font-family: 'GothaRegular';
}

.ago {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 83px;
  margin-bottom: 83px
}

.ago__p {
  display: flex;
  flex-direction: column;
  gap: 51px
}

.ago__img {
  display: flex;
  gap: 20px;
}

.ago__img img {
  width: 573px;
  height: auto;

}

.pank__p {
  display: flex;
  flex-direction: column;
  gap: 25px
}

.pank {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 83px;
  margin-bottom: 83px
}

.pank__img {
  display: flex;
  gap: 20px;
}

.bunt {
  display: flex;
  flex-direction: column;
  gap: 92px;
  margin-bottom: 83px
}

.bunt__img {
  display: flex;
  gap: 20px;
}

.filos__p {
  display: flex;
  flex-direction: column;
  gap: 25px
}

.filos {
  display: flex;
  flex-direction: column;
  
  gap: 83px;
  margin-bottom: 16px
}

.filos__img {
  display: flex;
  gap: 20px;
}




.theme-switcher {
  position: relative;
  width: 140px;   /* под макет */
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.theme-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.theme-toggle-circle {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  top: 50%;
  left: 25%; /* стартовая позиция слева контейнера */
  transform: translateY(-50%); /* центрируем вертикально */
  transition: transform 0.3s ease; /* плавное движение */
  cursor: pointer;
  z-index: 1;
}

/* при наведении — сдвигаем вправо на ширину контейнера минус ширина круга */



.theme-switcher:hover .bg-oval {
      fill: #A7D6FF
    }


.theme-switcher.active .theme-toggle-circle {
  transform: translateY(-50%) translateX(30px); 
}
.theme-switcher.active .bg-oval {
  fill: #0088FF;
}

.theme-switcher.active:hover .bg-oval {
  fill: #FFF8C9; /* например, светлее, чем активный */
}


/* Перекрытие всего экрана */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000; /* черный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Центрируем логотип и спиннер */
.spinner-wrapper {
  position: relative;
  width: 120px;  /* размер зоны логотипа + спиннер */
  height: 120px;
}

/* Логотип по центру */
.preloader-logo {
  width: 60px; /* размер логотипа */
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* Крутящийся спиннер */
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: 6px solid rgba(203, 14, 149, 0.2); /* светлый фон спиннера */
  border-top-color: #ff0099; /* активная часть спиннера */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: spin 1s linear infinite;
  z-index: 1;
}

.stars{
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
}

h4 {
  font-family: 'Gotham';
  font-size: 35px;
}

h3 {
  font-family: 'Gotham';
  font-size: 48px;
}

.star {
  color: transparent;
}

.comment-form {
    position: relative;
  width: 1000px;
  height: 422px;
}
.comment-input {
  width: 100%;
  height: 100%;

  outline: none;  
  border: #EC5228 solid 2px;
  border-radius: 29px;
  font-family: 'Gotham';
  font-size: 30px;
  padding: 10px;
  resize: none;
  padding: 66px;
  background-color: transparent;
  color: var(--text-color);
}

.comment-input::placeholder {
  color: var(--text-color); /* сюда ставишь нужный цвет */
  opacity: 1;  /* чтобы цвет точно был, а не прозрачный */
}

.star path {
  stroke: #000; /* черная обводка по умолчанию */
  transition: stroke 0.2s ease, fill 0.2s ease;
  stroke-width: 0.7px;
}

.hight path {
  stroke: #FFF8C9;/* убираем обводку при наведении/активной звезде */
  color: #FFF8C9;
  stroke-width: 0.7px;   /* цвет заливки при наведении/активной */
}

.active path {
  stroke-width: 0.7px;
  stroke: #F6D250;
  color: #F6D250;   /* цвет заливки при наведении/активной */
}
.comment-button {
  position: absolute;           /* Абсолютно относительно контейнера */
  bottom: 22px;                     /* По вертикали центрируем */
  right: 33px;                  /* Отступ справа */
  font-family: 'Gotham';
  font-size: 47px;
  padding: 17px 33px;
  border: none;
  border-radius: 55px;
  background-color: #EC5228;
  color: #fff;
  cursor: pointer;
}

.comment-button:hover {
  background-color: #FF9375;
}
.comment-button:active {
  background-color: #9C3316;
}

@keyframes spin {
  0%   { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}